@import "_variables.css";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: 0;
  background: url("https://images.unsplash.com/photo-1579008739251-f762aee3e339?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1186&q=80");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/*----NAV-----*/

.nav {
  text-transform: uppercase;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
  margin: 12px;
}

.nav-link {
  padding: 15px 20px;
  border: 1px solid var(--background-colour);
  color: #ffffff;
  font-weight: 600;
  transition: background 0.4s;
}

a:hover {
  background: rgba(255, 255, 255, 0.5);
  color: var(--text-color);
}

.nav-link a:active {
  position: relative;
  top: 1px;
}

.nav-link.active {
  background-color: var(--primary-colour);
  color: var(--text-color);
}

.nav-link.active:hover {
  background-color: rgba(229, 227, 56, 0.6);
}

.loginLink {
  position: relative;
  display: flex;
  flex-direction: column;
}

.loginLink span,
.loginLink a {
  margin-right: 55px;
}

.loginLink button {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0;
  transform: rotate(-90deg);
  padding: 0 7.5px;
  height: 30px;
  position: absolute;
  top: 25px;
  right: 0;
}

.loginLink button:hover {
  background-color: rgba(229, 227, 56, 0.6);
  color: #ffffff;
}

.breadcrumb {
  padding: 20px 0;
  font-size: 1.1rem;
}
.breadcrumb a {
  text-decoration: none;
  font-weight: 600;
  color: var(--background-colour);
}
.breadcrumb a:hover {
  text-decoration: underline;
}
li.breadcrumb-item.active {
  background-color: none;
  color: var(--background-colour);
  font-weight: 300;
}

/*----TYPO-----*/

h1,
h2 {
  text-align: center;
  color: var(--background-colour);
  margin-top: 40px;
}

h2 {
  margin: 10px 16px 40px 16px;
  font-family: "Italianno", cursive;
  font-size: 3rem;
}

/*----CONTAINER-----*/

.container {
  max-width: 1024px;
  margin: 20px auto;
  padding-bottom: 40px;
}

.row {
  margin: 0 auto;
}

/*-------ADMIN DASHBOARD--------*/

.admin-links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  align-items: center;
}

.admin-link a {
  color: var(--text-color);
}

.admin-link {
  padding: 15px 20px;
  border: 4px var(--text-color) double;
  background-color: var(--background-colour);
  box-shadow: 4px 4px var(--border-colour);
  color: var(--text-color);
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 30px;
  max-width: 200px;
  transition: top 0.4s, box-shadow 0.2s;
}
.admin-link:hover {
  position: relative;
  top: 1px;
}
.admin-link:active {
  box-shadow: 6px 6px var(--border-colour);
}

/*-------------EDIT ARTICLES------------*/

.edit-articles-container {
  margin-top: 60px;
}

.edit-articles-card {
  position: relative;
}

.card__hover-container {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0px;
  top: 0px;
  background: rgba(177, 149, 118, 0.92);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}

.card__hover-container-text {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

/*----EDIT----*/

.edit-form {
  display: none;
}

/*----SEARCH FORM----*/

.search-form {
  max-width: 262px;
  margin: 10px 0 10px 16px;
  box-shadow: 0 5px 5px 2px rgba(27, 22, 17, 0.3);
}

.search-form input {
  background-color: var(--background-colour);
  border: 3px solid var(--border-colour);
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--primary-colour);
}

/*----CARD----*/

.card {
  height: 100%;
  background-color: var(--background-colour);
  box-shadow: 0 5px 5px 2px rgba(27, 22, 17, 0.3);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body a {
  text-decoration: none;
  color: var(--text-color);
}

.card-body a:hover .card__hover-container {
  visibility: visible;
  opacity: 1;
}

.card-body a:active .card__hover-container-text {
  text-decoration: underline;
}

.card-footer {
  border-top: 1px solid var(--text-color);
}

.card i {
  font-size: 1.5rem;
  padding: 10px;
  cursor: pointer;
  color: var(--secondary-colour);
}

.card i:hover {
  position: relative;
  top: 1px;
  color: #d32203;
}

.fav-article i.fa.fa-heart:hover {
  top: 0px;
  color: var(--secondary-colour);
  cursor: inherit;
}

/*----BUTTONS----*/

.clearButton-container,
.addButton-container,
.editButton-container,
.deleteButton-container {
  text-align: center;
}

.clearButton,
.submitButton,
.addButton,
.editButton {
  min-width: 262px;
  margin: 20px 0;
  background-color: var(--primary-colour);
  color: var(--text-color);
  border: 2px solid var(--background-colour);
  border-radius: 0;
  font-size: 1.125rem;
  font-weight: 600;
  transition: background 0.4s;
}

.deleteButton {
  min-width: 262px;
  margin-top: 20px;
  background-color: var(--secondary-colour);
  color: var(--background-colour);
  border: 2px solid var(--background-colour);
  border-radius: 0;
  font-size: 1.125rem;
  transition: background 0.4s;
}

.clearButton:hover,
.submitButton:hover,
.addButton:hover,
.editButton:hover {
  background: transparent;
  border: 2px solid var(--background-colour);
  color: #ffffff;
}

.deleteButton:hover {
  background: #d32203;
  border: 2px solid var(--background-colour);
  color: #ffffff;
}

.clearButton:active,
.submitButton:active,
.addButton:active,
.editButton:active,
.deleteButton:active {
  position: relative;
  top: 1px;
}

.btn:focus {
  box-shadow: 0 0 0 0.25rem rgba(229, 227, 56, 0.25);
  background-color: transparent;
  color: #ffffff;
}

/*---------LOGIN-----------*/
.login-form {
  text-align: center;
}

.login-form .form-label,
.form-label {
  font-size: 1.2rem;
  font-weight: 500;
}

.input-group-container {
  background-color: rgba(248, 238, 231, 0.7);
  padding: 40px 25px;
  border-radius: 2px;
  max-width: 700px;
  text-align: left;
  margin: 5% auto 3% auto;
}

.form-control {
  border: 2px solid var(--border-colour);
}

/*----MESSAGE-----*/

.message {
  border: 4px solid var(--border-colour);
  background-color: #ffffff;
  font-weight: 600;
  padding: 10px 0;
  margin: 20px 16px;
  text-align: center;
  font-size: 1.2rem;
  box-shadow: 0 5px 5px 5px rgba(27, 22, 17, 0.3);
}

.message p {
  margin: 0;
}

.message.error {
  border-color: #9b2d1a;
  color: #6e1314;
}

.message.warning {
  border-color: #f7a738;
  color: #92611c;
}

.message.success {
  border-color: #497830;
  color: #497830;
}

.noResult-message,
.noFavs-message {
  width: 100%;
  margin: 0;
}
/*----LOADER-----*/

.loader {
  border: 16px solid #ffffff;
  border-top: 16px solid var(--primary-colour);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-left: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*------MEDIA-----*/

@media only screen and (min-width: 600px) {
  .search-form,
  .clearButton {
    max-width: 300px;
  }

  .nav-link {
    height: 80px;
  }

  .nav a {
    padding-top: 25px;
  }

  a.nav-link.admin-nav-link {
    padding-top: 15px;
  }

  .loginLink {
    display: flex;
    flex-direction: row;
  }

  .loginLink span {
    margin-right: 0;
    margin-left: 20px;
  }

  .admin-links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .admin-link-add {
    margin-right: 40px;
  }
}
